@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&family=Patrick+Hand&family=Tapestry&display=swap');

header{
    grid-area: header;
    background-image: url("../imagens/banner2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;

}

body{
    background-image:url('../imagens/benny.webp') ;
    display: grid;
    font-family:"Patrick Hand","Old Standard TT","italic" ;
    margin: 50px;
    width: auto;
    grid-template-areas: 
    "cor"
    "header"
    "nav"
    "main"
    "footer"
    ;
}
.cor{
    background-color: white;
    grid-area: cor;
    width: auto;

}

nav{ 
    grid-area: nav;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}
nav ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-left: -30px;
    justify-content: space-around;
    
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

main{
    grid-area: main;
    flex-direction: column;
    display: flex;
    align-items: center;
    
}
   
main img{
    height: auto;
    width: 400px;
    margin-top: 20px;
}


footer{
    grid-area: footer;
    background-image: url("../imagens/banner2.jpg");
    display: flex;
    justify-content: center;
}

.formulário{
    border: 2px  black;
    height: auto;
    margin-top: 5px;
}
fieldset{
    border: 1px solid rgb(255, 255, 255);
    height: auto;
    width: 400px;
    padding: 5px;
    background-image: url(../imagens/banner2.jpg);
    color: azure;

}

#titulo {
    font-family: sans-serif;
    color: black;
    margin-left: 30px;
    
} 
#titulo2 {
    font-family: sans-serif;
    color: black;
    margin-left: 30px;
    
} 
.botao {
    background: url(../imagens/banner2.jpg);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}
.botao:hover {
    background: #339c5f;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow:2px 2px 2px black;
}
.botao, select{
    cursor: pointer;
} 

table{
    border: 1px solid rgb(0, 0, 0);
      height: 235px;
      width: 400px;
      padding: 5px;
      margin-bottom: 5px;
      color: azure;
      background-image: url(../imagens/banner2.jpg);
  }
  th,td{
    border: 2px solid black; 
  }

.descriloja{
    border: 1px solid black;
}
.b{
    animation-duration: 5s;
    animation-name: ani;
}
  @keyframes ani{
    from{
      margin-left: 500%;
      width: 300%
    }
  
    to {
      margin-left: 62%;
      width: 100%;
    }
  }